@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

:root {
  --background: #000;
  --solid: #fff;
  --grey: #929da6;
  /* --light-grey: #191919; */
    --light-grey: #222;
}


body {
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  padding: 0px;
  margin: 0px;
}

.header {
  padding: 32px 32px 0px 32px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-text {
  font-size: 20px;
  text-align: center;
  margin: 48px 0px 96px 0px;
  color: #fff;
  line-height: 150%;
  color: var(--grey);
}

.text {
  font-size: 16px;
  color: var(--grey);
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--solid);
  transition: color 0.2s;
  cursor: pointer;
}

a:hover {
  color: var(--grey);
  transition: color 0.2s;
}

#container {
  max-width: 1065px;
  margin: 32px auto 96px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 24px;
}

.item {
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #0c0c0c;
  border: 2px solid #0c0c0c;

}

.item:hover {
  transition: background-color 0.3s;
  background-color: transparent;
  
}

.unicode {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 48px;
  color: var(--solid);
}

.title {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: var(--solid);
}

.alert-wrapper {
  position: fixed;
  z-index: 9999;
  top: 24px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  width: 100%;
  display: flex;
  justify-content: center;

}




.alert {
  position: absolute;
  transition: all .3s ease-in-out;
  border-radius: 50px;
  background-color: var(--light-grey);
  color: var(--grey);
  pointer-events: none;
  text-align: center;
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
  justify-self: center;
}

.show { 
  display: flex;
  animation: fadeIn 0.2s ease-in both;
}

.hide {
  /* display: none; */
  animation: fadeOut 0.2s ease-in both;
}

.hidden {
  display: none;
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -56px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 16px, 0);
	}
}


@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translate3d(0, 16px, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(0, -56px, 0);
	}
}





#hud-notification {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 9;
  pointer-events: none;
}
  #hud-notification .msg {
    background: #000;
    color: white;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    letter-spacing: 0em;
    padding: 0 0.7em;
    border-radius: 4px;
    opacity: 0.1;
    transition: 250ms all ease-in;
    transform: translate3d(0, 71px, 0); /* height + bottom offset + 1 */
  }
  #hud-notification.visible .msg {
    transform: translate3d(0, 0, 0);
    transition: 120ms all cubic-bezier(0.25, 0.47, 0.44, 0.93);
    opacity: 1;
  }

@media screen and (max-width: 1050px) {

  .header-wrapper {
    padding: 64px 0px 16px 0px;
  }

  .header-inner-wrapper {
    margin: 0px auto;
    max-width: 950px;
    padding: 0px 24px;
  }

  #container {
    margin: 264px auto 96px auto;
    padding: 0px 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  .item:hover {
    background-color: transparent;
    transition: background-color 0.3s;
  }

  .unicode {
    font-family: monospace;
  }
}


@media screen and (max-width: 450px) {
  .project-title {
    font-size: 20px;
  }

  .header-wrapper {
    position: static;
    padding: 32px 0px 32px 0px;
  }

  #container {
    margin: 64px auto;
    padding: 0px 24px;
    grid-template-columns: repeat(2, 1fr);
  }

}

