@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

/* Light mode */
/* :root {
  --bg: #808285;
  --bg-2: #8C8E91;
  --solid: #fff;
  --grey: #BCBEC0;
} */

:root {
  --bg: #000;
  --bg-2: #0c0c0c;
  --solid: #fff;
  --grey: #929da6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --bg-2: #0c0c0c;
    --solid: #fff;
    --grey: #929da6;
  }
} */


body {
  background-color: var(--bg);
  font-family: 'Inter', sans-serif;
  padding: 0px;
  margin: 0px;
}

.header {
  margin: 32px 32px 0px 32px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  /* margin: 32px 32px 0px 32px; */
  /* border-bottom: 1px solid var(--bg-2); */
}

.header-text {
  font-size: 20px;
  text-align: center;
  margin: 48px auto 96px auto;
  color: #fff;
  line-height: 150%;
  color: var(--grey);
  max-width: 450px;
}

.text {
  font-size: 16px;
  color: var(--grey);
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--solid);
  transition: color 0.2s;
  cursor: pointer;
}

a:hover {
  color: var(--grey);
  transition: color 0.2s;
}

#container, #items {
  max-width: 1065px;
  margin: 32px auto 96px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 24px;
}

.item {
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--bg-2);
  border: 2px solid var(--bg-2);
}

.item:hover {
  transition: background-color 0.3s;
  background-color: transparent;
}

.unicode {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 48px;
  color: var(--solid);
}

.title {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: var(--solid);
}

.alert-wrapper {
  position: fixed;
  z-index: 9999;
  top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.alert {
  position: absolute;
  transition: all .3s ease-in-out;
  border-radius: 50px;
  background-color: var(--bg-2);
  color: var(--grey);
  pointer-events: none;
  text-align: center;
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
  justify-self: center;
}

.show { 
  display: flex;
  animation: fadeIn 0.2s ease-in both;
}

.hide {
  /* display: none; */
  animation: fadeOut 0.2s ease-in both;
}

.hidden {
  display: none;
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -56px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 16px, 0);
	}
}


@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translate3d(0, 16px, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(0, -56px, 0);
	}
}



@media screen and (max-width: 1100px) {

  #container {
    padding: 0px 24px;
    grid-template-columns: repeat(3, 1fr);
  }

  .unicode {
    font-family: monospace;
  }
}


@media screen and (max-width: 450px) {
  .header-text {
    font-size: 16px;
    text-align: left;
    margin: 48px 0px 96px 0px;
  }

  #container {
    margin: 64px auto;
    padding: 0px 24px;
    grid-template-columns: repeat(2, 1fr);
  }

}